:root{
    --corprincipal: rgb(88, 66, 62);
    --fundo: rgb(236, 228, 221);
    --area: white;
    --titulo:  rgb(80, 49, 0);
    --texto: rgb(110, 110, 110);
    --enlace: rgb(173, 92, 0);
    --sombra: rgba(0, 0, 0, 0.301);
}


body
{
   background-color: var(--fundo);
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

div{display: inline-block;}
main
{
    
    box-shadow: 10px 10px 10px var(--sombra);
    padding-top: 70px;
    width: 94%;
    margin: 0px auto;
    background-color: var(--area);
}
a{
    
    color: var(--enlace);
}
footer
{
    padding-top: 70px;
    color: white;
    text-align: center;
    margin-top: 50px;
    background-color: var(--corprincipal);
    height: 90px;
    font-size: 20px;
}
.artigo
{
    margin-right: 0;
    padding: 10px 0% 10px 5% ; 
    width: 60%;
    text-align: left ;
}

.l-sobre
{
    text-align: center;
    width: 34.4%;
    margin: 0px;
}
.l-sobre .f-sobre
{   
    width: 60%;
    margin-top: 44px;
}


@media (min-width: 1006px) and (max-width: 1096px)
{   
    .l-sobre .f-sobre
    {
        width: 100%;
        margin-top: 44px;
        margin-right: 10px;
    }
    .l-sobre
    {
        z-index: 1;
        position: absolute;
        bottom: -400px;
        width: 30%;
        margin-left: 10px;

    }
}
@media (max-width: 1005px) and (min-width: 601px)
{
    #logo
    {
        top: 10px;
    }
    .artigo
    {
        width: 90%;
        padding-right: 10%;
    }
    
    .f-sobre
    {
        width: 80%;
        margin-top: 44px;
    }
    .l-sobre
    {
        text-align: center;
        width: 100%;
        margin: 0px;   
    }
    #logo
    {
        top: 10px;
    }
}
@media (max-width: 600px)
{
    #logo
    {
        top: 10px;
    }
    .artigo
    {
        padding-right: 5%;
        width: 90%;
    }
    
    .l-sobre
    {
        width: 100%;   
    }

    .f-sobre
    {
        width: 80%;
    }
}

p
{
    font-size: 25px;
    color: var(--texto);
    
}
h1
{
    margin: 20px 0;
    color:var(--titulo);
    font-size: 50pt;
}

h2
{
    margin: 0;
    color:var(--titulo);
    font-size: 27px;
}

#logo
{
    z-index: 2;
    width: 20%;
    position: fixed;
    left: 0px;
    vertical-align: middle;

}

#meumenu
{
    z-index: 2;
    background-color:var(--corprincipal);
    position: fixed;
    width: 100%;
    height: 70px;
    top: -5px;
    left: 0px;
}

#meumenu ul {
    
    list-style: none;
    padding: 0px;
    text-align: center;
}

#meumenu > ul > li {
    float: right;  
    width: 20%;
}

#meumenu > ul > li > ul
{
    width: 20%;
}

#meumenu ul li a {
    position: relative;
    top: -11px;
    display: inline-block;
    text-decoration: none;
    color: gainsboro;
    background-color:var(--corprincipal);
    width: 100%;
    
    padding: 23px 0%;
}

#meumenu ul li ul {
    
    position: absolute;
    display: none;
    padding-top: 2px;
    margin: 0;
    padding: 0;
}



#meumenu ul li ul li a 
{
    
    
    margin-top: -2px;
}



#meumenu li:hover ul {
    display: block;
}


#meumenu ul li a:hover {
    background-color: rgb(255, 235, 215);
    color: rgb(192, 181, 78);

    transition: background-color 0.3s 0.2s;
}

