body
{
    
   background-color: rgb(199, 187, 177);
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#nao
{
    position: relative;
    z-index: 2;
    background-color: tomato;
    width: 100px;
    height: 1000px;
}
main
{
    width: 94%;
    margin: 0 auto;
   
    background-color: white;
    
    clear: both;
}
footer
{
    clear: both;
    background-color: teal;
    height: 100px;
}
.artigo
{
    float: left;
    text-align: left ;
    margin: 0px;
    padding: 10px 10% 10px 8% ; 
    width: 600px;
    height: 2px;
}

.l-sobre
    {
        width: 30%;
        margin: 0px;
        float: left;
        height: 4px;
    }
.f-sobre
{
    width: 90%;
    margin-top: 44px;
}
@media (min-width: 1006px) and (max-width: 1260px)
{
    body{background-color: rgb(0, 255, 98);}
    .artigo{padding: 0 20px;}
    .f-sobre
    {
        width: 100%;
        margin-top: 44px;
        margin-right: 10px;
    }

    .l-sobre
    {
        width: 30%;
        margin: 0px;
        
    }

}
@media (max-width: 1005px) and (min-width: 601px)
{
    body{background-color: blue;}
    main{ }
    .artigo{width: 80%; padding: 50px;}
    .f-sobre
    {
        width: 80%;
        margin-top: 44px;
        
    }
    .l-sobre
    {

        text-align: center;
        width: 100%;
        margin: 0px;
        
        text-align: center;
    }
}
@media (max-width: 600px)
{
    body{background-color: rgb(255, 0, 0);}
    .artigo{width: 100%;padding: 0px;}
    p{text-align: justify; padding: 0 10px;}
    
    .l-sobre
    {
        text-align: center;
        width: 100%;   
    }
}



p
{
    font-size: 25px;
    color: rgb(110, 110, 110);
    
}
h1
{
    margin: 20px 0;
    color: rgb(80, 49, 0);
    font-size: 50pt;
}

h2
{
    margin: 0;
    color: rgb(80, 49, 0);
    font-size: 27px;
}

#logo
{
    position: fixed;
    left: 70px;
    top: 3px;
    width: 192px;
    height: 71;
}

#meumenu
{
    z-index: 2;
    background-color: rgb(88, 66, 62);
    position: fixed;
    width: 1900px;
    height: 70px;
    top: -5px;
    left: -20px;
}

#meumenu ul {
    list-style: none;
    margin-left: 100px;padding: 10px;
}

#meumenu ul li {
    float: left;
    position: relative;
    left: 240px;
    
    
}

#meumenu ul li a {
    position: relative;
    top: -21px;
    display: inline-block;
    text-decoration: none;
    color: gainsboro;
    background-color:rgb(88, 66, 62);
    
    margin-left: 0px;
    width: 200px;
    
    padding: 23px 0;
    text-align: center;
    
}

#meumenu ul li ul {
    display: none;
    position: absolute;
    padding-top: 2px;
}

#meumenu ul li ul li a {
    position: relative;
    width: 200px;
    
    margin-top: -1px;
    left: -350px;
    top: -22px;
    
    text-align: center;
}



#meumenu li:hover ul {
    display: block;
}


#meumenu ul li a:hover {
    background-color: rgb(255, 235, 215);
    color: rgb(192, 181, 78);

    
    transition: background-color 0.3s 0.2s;
}

